/* Custom CSS */

/* Whatsapp FAB */
.whatsapp-fab {
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    left: 15px;
    color: #ffffff;
    background-color: #4dc247;
    z-index: 50;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    border-radius: 50%;
}

.whatsapp-fab ul {
    list-style-type: none;
}
  
.whatsapp-fab i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    font-size: 1.5rem;
}

.whatsapp-fab ul li a{
    color: white;
}

.briket-grades{
    float: left;
    width:  250px;
    height: 250px;
    object-fit: cover;
}

.text-center{
    text-align: center;
}

* + .progress-linear {
	margin-top: 30px;
}

.progress-linear + .progress-linear {
	margin-top: 5px;
}

@media (min-width: 992px) {
	.progress-linear + .progress-linear {
		margin-top: 15px;
	}
}

.progress-header > * {
    max-width: 100%;
}