/* Whatsapp FAB */
.whatsapp-fab {
    position: fixed;
    cursor: pointer;
    bottom: 75px;
    right: 40px;
    color: #ffffff;
    background-color: #4dc247;
    z-index: 50;
    width: 60px;
    text-align: center;
    height: 60px;
    line-height: 40px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    border-radius: 50%;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.slick-team .child-team-carousel {
    margin-left: 270px;
  }

@media (min-width: 768px) {
    .slick-team .child-team-carousel {
      margin-left: 276px;
    }
}

a[data-custom-scroll-to] {
  cursor: pointer;
}

.services-classic-figure {
  display: flex;
  justify-content: center;
}
.services-classic-figure > img {
  object-fit: cover;
  width: 370px;
  width: auto;
  height: 274px;
}

.overlay-03{width:100%;height:100%;background-color:black;opacity:0.3;position:absolute;}